* {
  margin: 0;
}
/*HEADER*/
.header1 {
  height: 90px;
  width: 100%;
  background-color: rgb(37, 37, 37);
  display: flex;
}
/* bolt */
.logo {
  color: white;
  font-weight: bold;
  font-family: "Lexend Mega", sans-serif;
  font-size: 37px;
  padding: 15px;
  transition: 0.5s;
}
.logo:hover {
  color: rgb(23, 56, 243);
  text-shadow: 0 0 5px rgb(23, 56, 243);
  transform: translateY(-10px);
}
/* header links */
.links1 {
  margin-right: 930px;
}
.links1 ul {
  display: flex;
  margin-left: 930px;
  padding-top: 15px;
}
.links1 ul li {
  padding: 20px;
  list-style: none;
  color: white;
}
.links1 ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Lexend Mega", sans-serif;
}

.links1 ul li a:hover {
  color: rgb(23, 56, 243);
  text-shadow: 0 0 5px rgb(23, 56, 243);
}

/* Wrapper*/
.wrapper {
  background-image: url(background.jpg);
  width: 100%;
  height: 500px;
  margin-top: 0;
  background-position: center;
  background-size: cover;
  display: flex;
}

.wrappertext {
  width: 50%;
  padding: 3%;
  align-items: center;
}

.wrappertext h1 {
  margin-top: 150px;
  color: white;
}

.wrappertext p {
  color: white;
}

button {
  height: 50px;
  position: relative;
  margin-top: 350px;
  background-color: aqua;
  padding: 6px;
  margin: 2px 0 0 5px rgb(23, 56, 243);
  width: 150px;
  border-radius: 20px;
  border-color: aqua;
  margin-left: 60px;
  border: 0px;
}

button a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: "Lexend Mega", sans-serif;
}

button:hover {
  width: 165px;
  height: 55px;
  box-shadow: 0 0 0 5px rgb(23, 56, 243);
}

.aboutbolt {
  padding: 15px;
}

.aboutbolt h1 {
  color: aqua;
  text-decoration: none;
}
